<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/diary/daily.js}"></script>
</head>
<body>
	<div th:replace="~{layout/header.html::body_title}"></div>
	데일리 뿌잉!
	<form th:action="@{/daily/remove}" method="post">
		<table border=1>
			<tbody>
				<tr>
					<td>글 순번</td>
					<td><input type="text" name="dNo" th:value="${daily.dNo}" id="dNo" readonly></td>
				</tr>
				<tr>
					<td>글 제목</td>
					<td><input type="text" name="dTitle" th:value="${daily.dTitle}" readonly> </td>
				</tr>
				<tr>
					<td>글 작성자</td>
					<td th:text="${daily.userNo}"></td>
				</tr>
				<tr>
					<td>글 작성일</td>
					<td th:text="${#dates.format(daily.dDate, 'yyyy-MM-dd')}"></td>
				</tr>
				<tr>
					<td>글 내용</td>
					<td><input type="text" name="dCont" th:value="${daily.dCont}" readonly></td>
				</tr>
			</tbody>
		</table>
		<input type="button" value="수정" id="edit">
		<button>삭제</button>
		<input type="button" value="목록" id="list">
	</form>
	<script>
		$('#edit').click(function(){
			location.href="/daily/editForm?dNo=" + $('#dNo').val();
		})	
	</script>
</body>
</html>